#app {
  width: 100%;
}

body {
  width: 100%;
}

.github-icon {
  color: #333;
}

.github-button {
  background-color: #333
}

.linkedin-icon {
  color: #0077b5;
}

.linkedin-button {
  background-color: #0077b5
}

.youtube-icon {
  color: #ff0000
}